
*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("px.png");
    

    background-repeat: no-repeat;
    
    }
      
    .fs{
    
        background-image: url("socialesjpg.jpg");
        
    
        background-repeat: no-repeat;
        
        }
        .f5{
    
            background-image: url("bologiafng.jpg");
            
        
            background-repeat: no-repeat;
            
            }
            .jp{
    
                background-image: url("ingles2.jpeg");
                
            
                background-repeat: no-repeat;
                
                }
                .gt{
    
                    background-image: url("tecnologia3.jpg");
                    
                
                    background-repeat: no-repeat;
                    
                    }
                    .soc{
    
                        background-image: url("16.jpg");
                        
                    
                        background-repeat: no-repeat;
                        
                        }
                        .sht{
    
                            background-image: url("matematicas.jpg");
                            
                        
                            background-repeat: no-repeat;
                            
                            }
                            .st{
    
                                background-image: url("hinduismo.jpg");
                                
                            
                                background-repeat: no-repeat;
                                
                                }
            
        
    
    
    
    
    
    .img{
    
    position: relative;
    top: 100px;
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    
     
    
    }
    