
*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("px.png");
    

    background-repeat: no-repeat;
    
    }
      
    .fs{
    
        background-image: url("socialesjpg.jpg");
        
    
        background-repeat: no-repeat;
        
    }
    .f5{
    
    background-image: url("bologiafng.jpg");
            
    
    background-repeat: no-repeat;
            
    }
    .jp{
    
    background-image: url("ingles2.jpeg");
                
            
   background-repeat: no-repeat;
                
   }
   .gt{
    
    background-image: url("tecnologia3.jpg");
                    
                
    background-repeat: no-repeat;
                    
    }
    .soc{
    
    background-image: url("fondos\ historia.jpg");
                        
                    
   background-repeat: no-repeat;
                        
  }
 .sht{
    
   background-image: url("matematicas.jpg");
                            
                        
   background-repeat: no-repeat;
                            
  }
 .st{
    
     background-image: url("hinduismo.jpg");
                                
        
   background-repeat: no-repeat;
                                
  }
                                
 .contenido{

 height: 280px;
                                    
 width: 100%;
                                    
 position: absolute;
                                    
   top: 410px;
                                    
                                     
                                    
   }
                                    
                                     
                                    
  
   .imagen{
                                    
                                     
                                    
    background-repeat: no-repeat;
                                      
     float: right;
                                       
      height: 200px;
                                      
      width: 260px;
                                      
      margin-left: 5px;
      
      margin-right:5px ;

      background-image: url(px.png);
                                      
                                      
    }



    .imageningles1{
                                    
                                     
                                    
      background-repeat: no-repeat;
                                        
       float: right;
                                         
        height: 200px;
                                        
        width: 200px;
                                        
        margin-left: 5px;
        
        margin-right:5px ;
  
        background-image: url(imageningles1.jpg);
                                        
                                        
      }

      .imagensociales1{
                                    
                                     
                                    
        background-repeat: no-repeat;
                                          
         float: right;
                                           
          height: 1010px;
                                          
          width: 1000px;
                                          
          margin-left: 10px;
          
          margin-right:10px ;
    
          background-image: url(imagensociales1.jpg);
                                          
                                          
        }
    
    
    

                                    
  .texto{
                                    
    text-align:justify;
                                      
    color: rgb(242, 226, 7);
                                      
    font-size: 50px;
                                      
                                      
                                      
    }
    .textoingles{
                                    
      text-align:justify;
                                        
      color: rgb(242, 226, 7);
                                        
      font-size: 60px;
                                        
                                        
                                        
      }
      
  
  
                                    
                                    
    

            
        
    
    
    
    
    
   
    
    